# Fire up GraphLab Create

In [1]:
import graphlab

# Load some house sales data

In [2]:
sales = graphlab.SFrame('home_data.gl')

[INFO] graphlab.cython.cy_server: GraphLab Create v2.1 started. Logging: C:\Users\anwar\AppData\Local\Temp\graphlab_server_1489284400.log.0
INFO:graphlab.cython.cy_server:GraphLab Create v2.1 started. Logging: C:\Users\anwar\AppData\Local\Temp\graphlab_server_1489284400.log.0

This non-commercial license of GraphLab Create for academic use is assigned to 1101071@eng.asu.edu.eg and will expire on April 10, 2017.

In [3]:
sales

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: 21613

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 7129300520 | 2014-10-13 00:00:00+00:00 |  221900 |    3     |     1     |     1180    |
| 6414100192 | 2014-12-09 00:00:00+00:00 |  538000 |    3     |    2.25   |     2570    |
| 5631500400 | 2015-02-25 00:00:00+00:00 |  180000 |    2     |     1     |     770     |
| 2487200875 | 2014-12-09 00:00:00+00:00 |  604000 |    4     |     3     |     1960    |
| 1954400510 | 2015-02-18 00:00:00+00:00 |  510000 |    3     |     2     |     1680    |
| 7237550310 | 2014-05-12 00:00:00+00:00 | 1225000 |    4     |    4.5    |     5420    |
| 1321400060 | 2014-06-27 00:00:00+00:00 |  257500 |    3     |    2.25   |     1715    |
| 2008000270 | 2015-01-15 00:00:00+00:00 |  291850 |    3     |    1.5    |     1060    |
| 2414600126 | 2015-04-15 00:00:00+00:00 |  229500 |    3     |     1     |     1780    |
| 3793500160 | 2015-03-12 00:00:00+00:00 |  323000 |    3     |    2.5    |     1890    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5650   |   1    |     0      |  0   |     3     |   7   |    1180    |       0       |
|   7242   |   2    |     0      |  0   |     3     |   7   |    2170    |      400      |
|  10000   |   1    |     0      |  0   |     3     |   6   |    770     |       0       |
|   5000   |   1    |     0      |  0   |     5     |   7   |    1050    |      910      |
|   8080   |   1    |     0      |  0   |     3     |   8   |    1680    |       0       |
|  101930  |   1    |     0      |  0   |     3     |   11  |    3890    |      1530     |
|   6819   |   2    |     0      |  0   |     3     |   7   |    1715    |       0       |
|   9711   |   1    |     0      |  0   |     3     |   7   |    1060    |       0       |
|   7470   |   1    |     0      |  0   |     3     |   7   |    1050    |      730      |
|   6560   |   2    |     0      |  0   |     3     |   7   |    1890    |       0       |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1955   |      0       |  98178  | 47.51123398 | -122.25677536 |     1340.0    | ... |
|   1951   |     1991     |  98125  | 47.72102274 |  -122.3188624 |     1690.0    | ... |
|   1933   |      0       |  98028  | 47.73792661 | -122.23319601 |     2720.0    | ... |
|   1965   |      0       |  98136  |   47.52082  | -122.39318505 |     1360.0    | ... |
|   1987   |      0       |  98074  | 47.61681228 | -122.04490059 |     1800.0    | ... |
|   2001   |      0       |  98053  | 47.65611835 | -122.00528655 |     4760.0    | ... |
|   1995   |      0       |  98003  | 47.30972002 | -122.32704857 |     2238.0    | ... |
|   1963   |      0       |  98198  | 47.40949984 | -122.31457273 |     1650.0    | ... |
|   1960   |      0       |  98146  | 47.51229381 | -122.33659507 |     1780.0    | ... |
|   2003   |      0       |  98038  | 47.36840673 |  -122.0308176 |     2390.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[21613 rows x 21 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

# Exploring the data for housing sales
## here, we are gonna plot the scatter graph for a better representing for these data sets

In [4]:
sales['price'].mean()

540088.1419053345

# Create a simple regression model of sqft_living to price

### the first thing you need to do with these huge data sets, is to split them into training set and test set and you can do that using function 'random_split'

In [5]:
train_data, test_data = sales.random_split(.8, seed=0)
#.8 means 80% of these data will be train_data and 20% will be test_set
# and i used seed = 0 just to get the same results as the course instructor "Carlos"

### Evaluate the simple model

In [6]:
print test_data['price'].mean()
#prints the average price of the test_data houses

543054.042563

In [7]:
first_model = graphlab.linear_regression.create(train_data, target='price', features=['sqft_living'])
#here is a linear regression technique has been used and produced a curve which has the least RMSE 'Root Mean Square ERROR'.
# 'target' here represents the y-axis
# 'features' here represents the x-axis

Linear regression:

--------------------------------------------------------

Number of examples          : 16541

Number of features          : 1

Number of unpacked features : 1

Number of coefficients    : 2

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 2        | 1.057534     | 4343576.849885     | 2189756.458044       | 263701.942306 | 247621.976624   |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

SUCCESS: Optimal solution found.

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

In [8]:
print first_model.evaluate(test_data)
#here the rmse stands for 'Root Mean Square Error' and this line has the least RMSE.

{'max_error': 4138753.4581347164, 'rmse': 255194.4515782423}

# let's show what our prediction looks like

### At First, YOU HAVE TO SETUP MATPLOT LIBRARY VIA TERMINAL LIKE SO: (((pip install matplotlib)))

In [9]:
import matplotlib.pyplot as plt
%matplotlib inline    #is used to use the matplotlib in the same tap

UsageError: unrecognized arguments: #is used to use the matplotlib in the same tap

In [10]:
plt.plot (test_data['sqft_living'], test_data['price'], ('.'),
          test_data['sqft_living'], first_model.predict(test_data), '-',
         )
# the first line does the same job as Scattery Plot does but with test set only. 
# the second line draws the model as straight line

[<matplotlib.lines.Line2D at 0x1f126d68>,
 <matplotlib.lines.Line2D at 0x1f126e10>]

In [11]:
first_model.get('coefficients')
#and by coefficients, i means the coefficients of this equation f(W) = W0 + W1*X + ....

Columns:
	name	str
	index	str
	value	float
	stderr	float

Rows: 2

Data:
+-------------+-------+----------------+---------------+
|     name    | index |     value      |     stderr    |
+-------------+-------+----------------+---------------+
| (intercept) |  None | -47571.3542406 | 5057.15084045 |
| sqft_living |  None | 282.489170486  | 2.22211028624 |
+-------------+-------+----------------+---------------+
[2 rows x 4 columns]

# Now, let's explore more features in the data

In [12]:
my_features = ['bedrooms', 'bathrooms', 'sqft_living', 'sqft_lot', 'floors', 'zipcode']
#now the array is called 'my_features'

In [26]:
sales[my_features]

Columns:
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	zipcode	str

Rows: 21613

Data:
+----------+-----------+-------------+----------+--------+---------+
| bedrooms | bathrooms | sqft_living | sqft_lot | floors | zipcode |
+----------+-----------+-------------+----------+--------+---------+
|    3     |     1     |     1180    |   5650   |   1    |  98178  |
|    3     |    2.25   |     2570    |   7242   |   2    |  98125  |
|    2     |     1     |     770     |  10000   |   1    |  98028  |
|    4     |     3     |     1960    |   5000   |   1    |  98136  |
|    3     |     2     |     1680    |   8080   |   1    |  98074  |
|    4     |    4.5    |     5420    |  101930  |   1    |  98053  |
|    3     |    2.25   |     1715    |   6819   |   2    |  98003  |
|    3     |    1.5    |     1060    |   9711   |   1    |  98198  |
|    3     |     1     |     1780    |   7470   |   1    |  98146  |
|    3     |    2.5    |     1890    |   6560   |   2    |  98038  |
+----------+-----------+-------------+----------+--------+---------+
[21613 rows x 6 columns]
Note: Only the head of the SFrame is printed.
You can use print_rows(num_rows=m, num_columns=n) to print more rows and columns.

In [15]:
#here let's play a simple game.. let's find out which is the richest neighborhood in our data sets
#we can do that using BoxWhisker plot like so;
sales.show(view='BoxWhisker Plot', x='zipcode', y='price')

Canvas is accessible via web browser at the URL: http://localhost:60912/index.html
Opening Canvas in default web browser.

**Quiz Answer (1)**

$540,088

In [38]:
sales[sales["zip_code"==98040]]["price"].mean()

540088.1419053345

# Let's build another model with more features

In [16]:
second_model = graphlab.linear_regression.create(train_data, target = 'price', features = my_features)

Linear regression:

--------------------------------------------------------

Number of examples          : 16470

Number of features          : 6

Number of unpacked features : 6

Number of coefficients    : 115

Starting Newton Method

--------------------------------------------------------

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| Iteration | Passes   | Elapsed Time | Training-max_error | Validation-max_error | Training-rmse | Validation-rmse |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

| 1         | 2        | 0.046034     | 3764875.579715     | 2936350.053982       | 181406.214186 | 197149.696449   |

+-----------+----------+--------------+--------------------+----------------------+---------------+-----------------+

SUCCESS: Optimal solution found.

PROGRESS: Creating a validation set from 5 percent of training data. This may take a while.
          You can set ``validation_set=None`` to disable validation tracking.

In [17]:
print first_model.predict(sales[50]);

[288590.75863763015]

In [18]:
print first_model.evaluate(test_data)
print second_model.evaluate(test_data)

{'max_error': 4138753.4581347164, 'rmse': 255194.4515782423}
{'max_error': 3457459.404499838, 'rmse': 179134.98068151533}

### here, we can notice that the rmse error in the second one is less than the first one. And from here we can learn that we made our machine learning model learn to get better results by giving it some more features

# Apply learned Models to predict prices of 3 houses
# ----------------------------------------------------------------------------
# 1)First house

In [19]:
#selects random house and name it house1
house1 = sales[sales['id']=='5309101200']
#print this houes
house1
#notice that the true price of the house is 620,000

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+--------+----------+-----------+-------------+
|     id     |            date           | price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+--------+----------+-----------+-------------+
| 5309101200 | 2014-06-05 00:00:00+00:00 | 620000 |    4     |    2.25   |     2400    |
+------------+---------------------------+--------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|   5350   |  1.5   |     0      |  0   |     4     |   7   |    1460    |      940      |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1929   |      0       |  98117  | 47.67632376 | -122.37010126 |     1250.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [20]:
#now we are going to use the two models we've made which predicting prices
print first_model.predict(house1)

[630402.6549256141]

In [21]:
print second_model.predict(house1)

[719207.0193130138]

### although the second model is better, but the first result is more accurate which tells us that maybe there're some misfits to the rule.

# 2)Second house

In [22]:
house2 = sales[sales['id']=='1925069082']

In [23]:
house2

Columns:
	id	str
	date	datetime
	price	int
	bedrooms	str
	bathrooms	str
	sqft_living	int
	sqft_lot	int
	floors	str
	waterfront	int
	view	int
	condition	int
	grade	int
	sqft_above	int
	sqft_basement	int
	yr_built	int
	yr_renovated	int
	zipcode	str
	lat	float
	long	float
	sqft_living15	float
	sqft_lot15	float

Rows: Unknown

Data:
+------------+---------------------------+---------+----------+-----------+-------------+
|     id     |            date           |  price  | bedrooms | bathrooms | sqft_living |
+------------+---------------------------+---------+----------+-----------+-------------+
| 1925069082 | 2015-05-11 00:00:00+00:00 | 2200000 |    5     |    4.25   |     4640    |
+------------+---------------------------+---------+----------+-----------+-------------+
+----------+--------+------------+------+-----------+-------+------------+---------------+
| sqft_lot | floors | waterfront | view | condition | grade | sqft_above | sqft_basement |
+----------+--------+------------+------+-----------+-------+------------+---------------+
|  22703   |   2    |     1      |  4   |     5     |   8   |    2860    |      1780     |
+----------+--------+------------+------+-----------+-------+------------+---------------+
+----------+--------------+---------+-------------+---------------+---------------+-----+
| yr_built | yr_renovated | zipcode |     lat     |      long     | sqft_living15 | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
|   1952   |      0       |  98052  | 47.63925783 | -122.09722322 |     3140.0    | ... |
+----------+--------------+---------+-------------+---------------+---------------+-----+
[? rows x 21 columns]
Note: Only the head of the SFrame is printed. This SFrame is lazily evaluated.
You can use sf.materialize() to force materialization.

In [24]:
print first_model.predict(house2)

[1263178.3968141135]

In [25]:
print second_model.predict(house2)

[1444993.3841739544]

### here, the second model is better than the first one.